@media screen and (max-width: 800px) {
  .s1_realizations{
    padding: 0 2rem;
    flex-direction: column;
      .button-2{
        margin-left: 0;
        margin-bottom: 2rem;
        padding: 1.6rem 9rem;
          &:last-child{
            margin-bottom: 0;
          }
      }
  }


  .s2_realizations{
    padding: 0 2rem;
      &__grid{
        grid-template-columns: 1fr;
      }
  }
}