.s1_contact{
  width: 160rem;
  margin: 0 auto;
  margin-top: 10.5rem;

  display: flex;
    &__content{
      width: calc(100% - 80rem);
      padding-right: 16rem;
      margin-top: 2rem;
        &__top{
          display: flex;
          gap: 8.4rem;
        }
        .header__main__right{
          align-items: flex-start;

          margin-top: 5.3rem;
          margin-bottom: 6.1rem;
        }
    }
    
    &__form{
      width: 80rem;
      transform: translateX(-7.6rem);
    }
}


.s2_contact{
  width: 100%;
  height: 40rem;
  margin-top: 10.2rem;
    &--map{
      width: 100%;
      height: 100%;
    }
}

.page-template-template_contact{
 
}


