.s1_gallery{
  @include colStart;
  width: 160rem;
  margin: 0 auto;
  margin-top: 46.6rem;
  margin-bottom: 12.3rem;
  

  position: relative;
  z-index: 10;
    &__gallery{
      width: 100%;
      height: 116rem;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 2rem;
      grid-row-gap: 1.2rem;
      margin-bottom: 1.2rem;
        &:last-child{
          margin-bottom: 0;
        }

      &__single{
        @include center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        position: relative;
          &::before{
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--pcolor);
            opacity: 0;
            
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: .2s;
          }
          &::after{
            content: '';
            width: 4.1rem;
            height: 4.1rem;
            background-image: url('../../assets/search.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;

            position: absolute;
            z-index: 2;
            transition: .2s;
          }

          &:hover{
            &::after{
              opacity: 1;
            }
            &::before{
              opacity: .7;
            }
          }
          
          &:nth-child(1){
            grid-area: 1 / 1 / 2 / 2;
          }
          &:nth-child(2){
            grid-area: 1 / 2 / 3 / 3;
          }
          &:nth-child(3){
            grid-area: 1 / 3 / 2 / 4;
          }
          &:nth-child(4){
            grid-area: 2 / 1 / 4 / 2;
          }
          &:nth-child(5){
            grid-area: 3 / 2 / 4 / 3;
          }
          &:nth-child(6){
            grid-area: 2 / 3 / 4 / 4;
          }
      }
    }
}