{% extends "base.twig" %}
{% block content %}

{% include "/templates/partial/pageHeader.twig" with {'title': acf.pageHeader_title} %}


<section class="s1_gallery gallery">
  {% for item in acf.s1_gallery %}
    <a data-lbxp class="s1_gallery__single" href="{{item.url}}">
      <img class="s1_gallery__single--img" src="{{item.url}}" alt="{{item.alt}}">
    </a>
  {% endfor %}
</section>



{% endblock %}