{% extends "base.twig" %}
{% block content %}

{% include "/templates/partial/pageHeader.twig" %}


<section class="s1_gallery gallery">
  {% for single in field.s1_repeat %}
    <div class="s1_gallery__gallery gallery">
      {% for item in single.gallery %}
        <a data-lbxp class="s1_gallery__gallery__single" href="{{item.url}}" style="background-image: url('{{item.url}}')"></a>
      {% endfor %}
    </div>
  {% endfor %}
</section>



{% include "/templates/partial/our_premises.twig" %}
{% endblock %}