@media screen and (max-width: 800px) {
  .s1_trip{
    width: 100%;
    padding: 0 2rem;
    margin: 5rem auto 6rem;
    flex-direction: column;
      &__gallery{
        width: 100%;
          .productGallery-top{
            height: auto;
          }
      }

      &__content{
        width: 100%;
          .tripCard{
            padding: 3.2rem 2.4rem;
              &__info{
                flex-direction: column;
                  &__button{
                    margin-left: auto;
                    margin-top: 1.8rem;
                      span{
                        font-size: 1.4rem;
                      }
                  }
              }

              .tripCard__repeat__single__list__single{
                display: flex;
                flex-direction: column;
                  .tripCard__repeat__single__list__single--no{
                    font-weight: 700;
                    margin-bottom: -.1rem;
                  }
              }
          }

          &__form{
            padding: 3.2rem 2.4rem;
          }
      }
  }

  .reviews{
    &__addNew{
      padding: 6rem 2rem 6rem;
    }
    &__list{
      &__header, &__slider{
        width: 100%;
        padding: 0 2rem;
      }
      &__header{
        .txt-22{
          font-size: 3rem;
        }
      }
      &__slider{
        grid-template-columns: 1fr;
      }
    }
    .reviews-area{
      width: 100%;
    }
  }
}