@media screen and (max-width: 800px) {
  .s1_aboutUs{
    width: 100%;
    padding: 0 2rem;
    margin-top: 5rem;   
    flex-direction: column;
      &__content{ 
        width: 100%;
        margin-top: 0;
        margin-bottom: 4.8rem;
      }  
      &--img{
        width: 100%;
        height: auto;
      }
  }

  .s2_aboutUs{
    width: 100%;
    margin-bottom: 6rem;
      &__single{
        flex-direction: column;
          &__content{
            width: 100%;
            padding-left: 0;
            margin-top: 2.4rem;
          }
          &--img{
            width: 100%;
            height: auto;
          }
      }
  }
}