// @media screen and (min-width: 2270px) { 
// }

.header{
  width: 100%;
  padding-top: 6.4rem;
  padding-bottom: 11.1rem;
  background-color: var(--white);

  position: relative;
    &__mobileBelt{
      display: none;
    }
    &__main{  
      @include flexLine('center');

      width: 160rem;
      margin: 0 auto;
        &__left{
          @include verticalCenter;
          margin-left: -4rem;
        }
        &__right{
          display: flex;
          flex-direction: column;
          align-items: flex-end;  
            &__tel{
              @include verticalCenter;
              justify-content: flex-end;
              list-style: none;
                &--single{
                  margin-left: 6.1rem;
                  position: relative; 
                    &::after{
                      content: '';
                      width: .8rem;
                      height: .8rem;
                      border-radius: 100%;

                      background-color: var(--grey2);
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: -3.1rem;
                      margin: auto 0;
                    }

                    &:first-child{
                      margin-left: 0;
                      color: var(--pcolor);
                        &::after{
                          display: none;
                        }
                    }
                    &:last-child{
                      color: var(--blue);
                    }
                }
            }
        }

        &__branding{
          font-size: 0;
          width: 24.1rem;
          height: 5.9rem;

          margin-right: 4.4rem;
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
        }


        &__nav{
          display: flex;
          margin-top: 1rem;
            & >.menu{
              display: flex;
              align-items: center;

              list-style: none;
                & > .menu-item{
                  @include center;
                  margin-left: 6.7rem;
                  font-size: 1.8rem;

                  transition: all .2s;
                    &::after{
                      content: '';
                      width: .8rem;
                      height: .8rem;
                      border-radius: 100%;

                      background-color: var(--pcolor);
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: -3.1rem;
                      margin: auto 0;

                      display: none;
                    }
                    &:hover{
                      color: var(--pcolor);
                    }
                    &:first-child{
                      margin-left: 0;
                        &::after{
                          display: none;
                        }
                    }

                    .sub-menu{
                      width: 100vw;

                      position: absolute;
                      top: 11rem;
                      left: 0;
                      z-index: 89;

                      list-style: none;

                      opacity: 0;
                      visibility: hidden;
                      transition: .2s;
                        &__color{
                          margin-top: 5rem;
                          background-color: var(--white);
                          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.16);
                        }
                        &__wrap{
                          width: 160rem;
                          margin: 0 auto;

                          display: grid;
                          grid-template-columns: repeat(5, 1fr);
                          gap: 5rem;

                          padding-top: 7.7rem;
                          padding-bottom: 9.4rem;
                        }
                        .menu-item{
                            a{
                              @include center;
                              flex-direction: column;
                                p{
                                  margin-bottom: 3.7rem;
                                  text-align: center;
                                  font-size: 1.6rem;
                                  color: var(--pcolor);
                                  text-transform: uppercase;
                                  transition: .2s;
                                }
                                img{
                                  width: 100%;
                                  height: 18.3rem;
                                  object-fit: cover;
                                  border-radius: 1rem;
                                  transition: .2s;
                                }
                            }
                            &:hover{
                              p{
                                color: var(--blue);
                              }
                              img{
                                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
                              }
                            }
                        }
                    }

                }
                & > .menu-item-has-children{
                  &:hover{
                    .sub-menu{
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }

                & >.active{
                  color: var(--pcolor);
                }           
            }
        }


        &__socialmedia{
          @include verticalCenter;
          margin-left: 16rem;
          margin-top: 1rem;
            &__single{
              margin-left: 0.5rem;
              width: 3.3rem;
              height: 3.3rem;
              
              border: 1px solid var(--grey2);
              background-color: var(--grey2);
              border-radius: 100%;
              padding: .9rem;
                &:first-child{
                  margin-left: 0;
                }
                &--icon{
                  transition: .2s;
                    svg{
                      width: 100%;
                      height: 100%;
                        *{
                          transition: .2s;
                        }
                    }
                }
                &:hover{
                  p{
                    color: var(--orange);
                  }
                  span{
                    background-color: var(--orange);
                    border-color: var(--orange);
                  }
                }
            }
        }
  }
}



.menuButton, .menuButtonExit{
  display: none !important;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  width: 6.4rem;
  height: 6.4rem;
  position: relative;
  z-index: 95;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  cursor: pointer;

  
    path {
      fill: none;
      -webkit-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
      -moz-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
      transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
      stroke: var(--pcolor);
      stroke-width: 4;
      stroke-linecap: round;
    }
    path:nth-of-type(1) {
      stroke-dasharray: 40 139;
    }
    path:nth-of-type(3) {
      stroke-dasharray: 40 180;
    }
    &--active{
      
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);

      

        path:nth-of-type(1) {
          stroke-dashoffset: -98px;
        }
        path:nth-of-type(3) {
          stroke-dashoffset: -138px;
        }
        path {
          fill: none;
          -webkit-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
          -moz-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
          transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
          stroke-width: 4;
          stroke-linecap: round;
          stroke: var(--white);
        }
    }
}

.menuButtonExit{
  position: absolute;
  top: 1rem;
  right: 2.2rem;
  z-index: 99;
}