.banner{
  @include center;
  flex-direction: column;
  border-radius: 1rem;
  background: linear-gradient(#075d96 0%, #057bcb 35.13%, #057fd1 100%);

  width: 160rem;
  margin: 0 auto;
  padding: 7.5rem 2rem 5.4rem;
    &--title{
      line-height: 6rem;
      text-align: center;
    }
    .btn-1{
      background-color: var(--pcolor);
      margin-top: 2.8rem;
    }
}


@media screen and (max-width: 800px) {
  .banner{
   
  }
}