.bestProducts2{
  height: 48rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
    &__single{
      height: 100%;
      display: flex;
      align-items: flex-end;

      position: relative;
      cursor: pointer;
        &:hover{
          &::before{
            opacity: 0.8;
          }
          .bestProducts2__single__content{
            opacity: 1;
          }
        }
        &::before{
          content: '';

          width: 100%;
          height: 100%;
          background: #000000;
          transition: .2s;
          opacity: 0;
          
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
        }
        &--img{
          width: 100%;
          height: 100%;
          object-fit: cover;

          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }

        &__content{
          @include colStart;
          margin: 4rem;

          position: relative;
          z-index: 1;
          opacity: 0;

          transition: .2s;
            &--title, &--text{
              color: var(--white);
            }
            &--title{
              margin-bottom: 2rem;
                &::before{
                  display: none;
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
  .bestProducts2{
    height: auto;
    padding: 0;
    grid-template-columns: 1fr;
    gap: 2.4rem;
      &__single{
        @include colStart;
        align-items: center;
        border: none;
        padding: 0;
        height: 40rem;
          &--title, &--text{
            text-align: center;
            padding-left: 0;
          }
      }
  }
}