.contact{
  &__row{
    margin-bottom: 1.3rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
  }
  
  &__left, &__right{
    display: flex;
    flex-direction: column;
  }
  &__single{
    width: 100%;

    position: relative;
      &--label{
        position: absolute;
        z-index: -99;
        opacity: 0;
      }

      &--input, &--textarea{
        @include fontStyle(var(--black3), 1.4rem, 500);

        background-color: var(--white);
        padding: 2.8rem 4.5rem;
        border-radius: 1rem;

        width: 100%;
        transition: .2s;
          &:focus{
            border-color: var(--pcolor);
            color: var(--pcolor);
          }
          &::selection{
            color: var(--pcolor);
          }
      }
      &--textarea{
        height: 19.5rem;
        resize: none;
      }
  }
    
  &--privacy{
    @include fontStyle(var(--black), 1.2rem, 400);
    line-height: 2rem;
      & > label{
        margin-bottom: 1rem;
          &:last-child{
            margin-bottom: 0;
          }
      }
      label{
        display: flex;
      }
      input{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .9rem;
        border: .1rem solid var(--grey3);
        transition: .2s ease;
          &:checked{
            background-color: var(--pcolor);
            border-color: var(--pcolor);
          }
      }
      .wpcf7-list-item-label{
        width: calc(100% - 2.4rem);
      }
      a{
        transition: .2s;
          &:hover{
            color: var(--pcolor);
          }
      }
  }
  &__bottom{
    @include flexLine;
    margin-top: 2.2rem;
  }
  .button-1{
    display: flex;
    margin-left: auto;
  }
}