.opinions{
  width: 160rem;
  margin: 0 auto 13.4rem;
     &__header{
        @include flexLine('center');
        margin-bottom: 7.4rem;
          h2{
            color: var(--black);
          }
    }


    &__grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;

      align-items: flex-start
    }
}


.single_opinion{
  @include colStart;

  padding: 4.5rem;
  border-radius: 1rem;
  background-color: var(--white);
    &--rating{
      span{
        color: #FFC107;
        font-size: 4rem !important;
        width: auto !important;
        height: auto !important;
          &::before{
            line-height: 0 !important;
            vertical-align: unset !important;
          }
      }
    }
    &--title{
      margin-top: .7rem;
      margin-bottom: 0.5rem;
    }
    &--term{
      color: var(--blue);
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
    }


    &--img{
      width: 100%;
      height: 2.1rem;
      object-fit: contain;
      margin-top: 5.3rem;
      margin-bottom: 2.5rem;
    }

    &--author{
      @include verticalCenter;
      margin-top: 1.8rem;
        span{
          margin-left: 2.2rem;
          color: var(--grey);
        }
    }
}

@media screen and (max-width: 800px) {
  .opinions{
    width: 100%;
    margin-bottom: 6rem;
    padding: 0 2rem;
      &__header{
        flex-direction: column;
          h2{
            margin-bottom: 1.8rem;
          }
      }
      &__grid{
        grid-template-columns: 1fr;
        gap: 2.4rem;
      }
  }

  .single_opinion{
    padding: 2.8rem;
  }
}