@media screen and (max-width: 800px) {
  .page-template-template_homepage{
    .header{
      padding-bottom: 0;
    }
  }

  .s1_homepage{
    margin-top: 10rem;
    height: 56rem;
    min-height: unset;
      &__content{
        padding: 0 2rem;
          &--title{
            font-size: 6rem;
            text-align: center;
          }
      }
  }

  .s2_homepage{
    width: 100%;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
      &__grid{
        grid-template-columns: 1fr;
        gap: 2.4rem;
      }

      &__categories{
        margin-top: 6rem;
      }
  }

}