.s1_universal{
  width: 160rem;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
    &__header{
      margin-bottom: 6.4rem;
    }

    &--title{
      color: var(--black)
    }
		&--wysiwyg{
			@include wysiwyg(1.6rem, var(--pcolor));
      margin: 0 auto;
        strong{
          font-weight: 700;
        }
		}
}