@media screen and (max-width: 800px) {
  .s1_trips{
    width: 100%;
    margin-top: 5rem;
    padding: 0 2rem;
    gap: 4.8rem;
    flex-direction: column;
      &__filters{
        width: 100%;
        position: relative;
        top: 0;
          .banner{
            display: none;
          }

          &__taxonomyFilter{
            margin-bottom: 0;
              .reset {
                margin-top: 6.4rem;
              }
          }
      }

      &__list{
        width: 100%;
        margin-top: 0;
          .pagination{
            margin: 4.8rem auto 0;
              &__list{
                gap: 1rem !important;
              }
              li{
                width: 4.8rem !important;
                height: 4.8rem !important;
              }
              a{
                font-size: 1.6rem !important;
              }
          }
      }
  }
}