@media screen and (max-width: 800px) {
  .s1_offer{
    flex-direction: column;
      &__content{
        width: 100%;
        height: auto;
        padding: 14rem 2rem 8rem;

        background-position: left;
      }
      &--img{
        width: 90%;
        margin: 0 auto;
        margin-top: 8rem;
      }
  }

  .s2_offer{
    padding: 8rem 2rem 15rem;
    margin-top: 8rem;
      &__grid{
        grid-template-columns: 1fr;
        margin-top: 0;
          &--img{
            position: relative;
            top: 0;
            right: unset;

            transform: translateX(-4rem);
            margin-bottom: -14rem;
          }

          &__single{
            &:nth-last-child(2){
              padding-bottom: 4.6rem;
              &::before{
                display: block;
              }
            }
          }
      }
  }


  .s3_offer{
    margin-top: 10rem;
    flex-direction: column;
    padding: 0 2rem;
      &--img{
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 0;
      }

      &__content{
        margin-left: 0;
        margin-top: 6rem;
          &--text{
            font-size: 3.2rem;
            line-height: 4.2rem;
          }
          &__grid{
            grid-template-columns: 1fr;
              &__single{
                &:nth-last-child(2){
                  padding-bottom: 4.6rem;
                  &::before{
                    display: block;
                  }
                }
              }
          }
      }
  }


  .s4_offer{
      &__top{
        flex-direction: column;
          &__content{
            width: 100%;
            padding: 10rem 2rem;
          }
          &__img{
            width: 100%;
            height: 40rem;
          }
      }
      &__grid{
        padding: 0 2rem;
        margin-top: -4rem;
        grid-template-columns: 1fr;
      }
  }


  .s5_offer{
    padding: 0 2rem;
      &__bottom{
        flex-direction: column;
          &--text{
            width: 100%;
            margin-left: 7.7rem;
            margin-top: 3rem;
          }
      }
  }


  .s6_offer{
    flex-direction: column;
      &__content{
        width: 100%;
        padding: 10rem 2rem;
      }
      &__img{
        width: 100%;
        height: 32rem;

        position: relative;
        right: auto;
        left: 0;
      }
  }


  .s8_offer{
    padding-left: 0;
      &--title{
        padding: 10rem 2rem;
      }
  }


  .s9_offer{
    width: 100%;
    margin-top: 8rem;
    padding: 0 2rem;
      &__content{
        flex-direction: column;
          &__text{
            width: 100%;
            margin-left: 0;
            margin-top: 4rem;
          }
      }
  }


  .s10_offer{
    margin-top: 8rem;
    flex-direction: column;
      &__block{
        width: 100%;
        padding: 6rem 2rem;
      }
  }


  .page-template-template_offer-php{
    .pageHeader{
      &::before{
        height: 105.8rem;
      }
      &__img{
        width: 90%;
        height: auto;
        margin: 0 auto;
      }
      &__content{
        width: 100%;
        margin-top: 4rem;
          &--title{
            font-size: 5rem;
            line-height: 6rem;
          }
      }
    }
  } 
}