
<section class="banner">
  <h2 class="banner--title tit-50">{{title}}</h2>

  {% if button %}
      <a class="btn-1" target="{{ button.target}}" href="{{ button.url}}">
        <span class="btn-1--text">{{ button.title}}</span>
      </a> 
    {% endif %}
</section>