<div class="opinions">
  <header class="opinions__header">
    <h2 class="tit-50">{{pll__('opinions')}}</h2>


    <a class="btn-1" href="/oferta">
      <span class="btn-1--text">{{pll__('show_more')}}</span>
    </a> 
  </header>

  <div class="opinions__grid">
    {% for opinion in opinions %}
      {% include "/templates/partial/single_opinion.twig" with {'opinion': opinion} %}
    {% endfor %}
  </div>
</div>